.overlay {
  position: fixed;
  inset: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal {
  position: absolute;
  left: 50%;
  background-color: var(--white);
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px 15px;
  inset: 5%;
  border-radius: 16px;
  margin-bottom: 10px;
}

.title {
  margin-bottom: 30px;
  padding-right: 50px;
}

.author {
  margin-bottom: 20px;
}

.content p {
  margin-bottom: 20px;
  font-size: 14px;
}

.content p:last-child {
  margin-bottom: 0;
}

.content a {
  color: var(--orange);
}

.close {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: transparent;
  border: none;
  width: 15px;
  height: 15px;
}

@media (min-width: 768px) {
  .modal {
    padding: 30px;
    inset: 10%;
  }

  .modal h2 {
    font-size: 24px;
  }

  .modal p {
    font-size: 16px;
  }

  .author {
    margin-bottom: 30px;
  }
}