.linkPost {
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  margin-bottom: 10px;
  transition: color 0.36s ease-in-out;
}

.linkPost:after {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 20px;
  transition: box-shadow 0.36s ease-in-out;
}

.linkAuthor {
  position: relative;
  width: min-content;
  transition: color 0.36s ease-in-out;
}

.linkAuthor:hover {
  color: #2d2d2d;
}

@media (min-width: 580px) {
  .linkPost:hover {
    color: #cc6633;
  }

  .linkPost:hover:after {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  }
}